<!doctype html>
<html>

<head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="theme-color" content="#000000" />
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <link crossorigin="use-credentials" rel="manifest" href="./manifest.json" />
      <link rel="shortcut icon" href="./favicon.ico" />
      <meta http-equiv="Content-Security-Policy"
            content="default-src *; img-src 'self' http://localhost https://dl.dropboxusercontent.com https://unpkg.com data:; style-src 'self' 'unsafe-inline' http://localhost https://use.fontawesome.com https://fonts.googleapis.com https://maxcdn.bootstrapcdn.com; script-src 'self' 'unsafe-eval' 'unsafe-inline' http://localhost http://www.google.com https://unpkg.com; font-src 'self' 'unsafe-inline' http://localhost https://use.fontawesome.com https://fonts.gstatic.com; ">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous" />
      <link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet" />
      <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
      <title>Eyes of the Community - Home</title>
      <meta name="description"
            content="Eyes of the Community allows people to answer the question What does your community need (want, demand, call for) from you now?">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container">
      <div id="root"></div>
</body>

</html>